.ytContainer{
  padding-left: 77px;
    margin: 19px;
    padding-right: 48px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 439px 407px;
    }



.youtube-card{
  width: 350px;
  height: 247px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 13px;
  cursor: pointer;
  

  margin-top: 20px;
  margin-left: 20px;
}
.subHeading{
  display: flex;
  margin-left: 5px;
  
}
.logo{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-top: 10px;
  cursor: pointer;
}

.content{
  margin-left: 5px ;
}
.likeViews{
  display: flex;
  margin-top: -29px;
  justify-content: space-around;
  color: rgb(107, 104, 102);
  text-decoration: none;
}
@media only screen and (min-width: 480px) {
  /* styles for devices with a minimum screen width of 480px */
  }
  
  @media only screen and (max-width: 480px) {
  /* styles for devices with a maximum screen width of 480px */
  }
  a{
    text-decoration: none;
    color: black;
  }